{% extends "base.html" %}
{% block title %}
	{% if object %}
		Edit content "{{ object.name }}"
	{% else %}
		Add a new content
	{% endif %}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				
				<div class="panel panel-deafult">
					<div class="panel-heading">
						{% if object %}
							<h1>Edit content "{{ object.name }}"</h1>
						{% else %}
							<h1> Add a new content</h1>
						{% endif %}
						
						<h2>Course info</h2>
					</div>
					<div class="module">
						<form action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'courses/template_form.html'%}
							<p><input class="btn btn-success" type="submit" value="Save content"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}