{% extends "base.html" %}
{% load course%}
{% block title %} Module {{module.order|add:1}}:{{module.name}}{% endblock title %}
{% block content %}
<div class="contents container">
	{% with course=module.course %}
	<h1>Course '{{course.name}}'</h1>
	<div class="row">
		<div class="col-sm-3">
			<h3>Modules</h3>
			<ul id="modules" class=" list-group">
				{% for mod in course.modules.all %}
					<li class="list-group-item" data-id="{{ mod.id }}" {% if mod == module %}
					class="selected"{% endif %}>
					<a href="{% url 'module_content_list' mod.id %}">
						<span>Module <span class="order"> {{mod.order|add:1}} : </span>
					
					{{mod.name}}
					</span>
				</a>
			</li>
			{% empty%}
			<li>No Module Found!</li>
		{% endfor %}
	</ul>
	<button class="btn btn-success"><a href="{% url 'course_module_update' course.id %}">Edit
	modules</a></button>
</div>
<div class="col-sm-9">
	<div class="module well">
		<h2>Module {{ module.order|add:1 }}: {{ module.name }}</h2>
		<h3>Module contents:</h3>
		<div id="module-contents">
			{% for content in module.contents.all %}
				<div data-id="{{ content.id }}">
					{% with item=content.item %}
					<p> {{item}} ({{ item|model_name }})</p>
					<p class="btn-group">
					<a class=" btn btn-primary btn-md" href="#">Edit</a>
					 <form action="{%url 'module_content_delete' content.id%}" method="post">
						{% csrf_token %}
						<input class="btn btn-primary" type="submit" value="Delete">
					</form>
					</p>
				{% endwith %}
			</div>
			{% empty %}
			<p>No contents for this module yet.</p>
		{% endfor %}
	</div>
</div>
<div class="well">
	<h3>Add new content:</h3>
	<ul class="content-types btn-group">
		<li class="btn btn-primary"><a href="{% url 'module_content_create' module.id 'file' %}">File</a></li>
		<li class="btn btn-primary"><a href="{% url 'module_content_create' module.id 'image'%}">Image</a></li>
		<li class="btn btn-primary"><a href="{% url 'module_content_create' module.id 'text' %}">Text</a></li>
		<li class="btn btn-primary"><a href="{% url 'module_content_create' module.id 'video'%}">Video</a></li>
	</ul>
</div>
</div>
</div>
{% endwith %}
</div>
{% endblock content %}