{% extends 'base.html'%}
{%block title%}{{block.super}} homepage{%endblock title%}
{% block content %}
	<div id="content" class="container">
		<div id="home_jumbotron" class="jumbotron">
			<h1>Welcome to E-learning</h1>
			<p>This is an e-learning web apps. Depends on your previlelegies you can add and edit the content.You can also add various content which might be  text,image,file and videos.</p>
			<p>There isn't any doubt that the eLearning industry is evolving. Curriculum is becoming more interactive and, at the same time, an increasing number of learners are using mobile devices to access eLearning courses. As a consequence, the way that eLearning Professionals design, create, and deliver eLearning courses is rapidly changing, or at least it should be. Nowadays, HTML5 is being used by eLearning Professionals from all around the globe, thanks to its versatility and its variety of features.</p>
		</div>
	</div>
{% endblock %}