.navbar-static-top{
	margin-bottom:0px !important;
	background: #233E1F;
	border-color:#1A5F23;
}
.text-align-center{
  text-align: center;
}
.jumbotron{
	background-color: #233E1F;
	color: #ffffff;
}
.navbar-default
.navbar-brand{
	color:#FBFBFB;
}

.navbar-default .navbar-brand:hover{
	color:#777;
}

.navbar-default .navbar-nav>li>a:hover {
	color:#E8E0E0;
}
.navbar-default .navbar-toggle {
border-color:transparent !important;
}
.navbar-toggle{
background-color:#233E1F !important;
}
.navbar-toggle:hover{
background-color:#2D6518 !important;

}

/*.homepage-hero-module {
border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}*/
.video-container {
   
    height:300px;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    height: inherit;
}

.fa-bolt{
    color: red;
}
.fa-star-o{
    color: blue;
}
.fa-github{
    color: green;
}