<p class="ci-td-p-l"><label for="id_full_name">Full Name:</label>&nbsp;{{contact.get_full_name}} </p>
<p> <label for="id_email">Email:</label>&nbsp; {{contact.email}} </p>
<p> <label for="id_phone">Phone:</label>&nbsp;{{contact.phone}}</p>
<p><label for="id_role">Role:</label>&nbsp; {{contact.role}} </p>
 <a class="cancel  btn btn-primary" href="{{contact.get_update_url}}?client={{contact.client.id}}{{contact.client.uuid}}">Edit</a>
 <a class="cancel  btn btn-danger" href="{{ contact.get_delete_url }}?client={{contact.client.id}}{{contact.client.uuid}}">Delete</a>
