{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title%}albums{% endblock head_title%}
{% block content%}
{% if album_list%}
 <h1>Hello</h1>
	<div class="row">
		{% for album in object_list %}
			<div class="col-sm-4 col-lg-2">
				<div class="thumbnail">
					<!-- Album logo -->
					<a href="{% url 'musics:detail' album.slug %} ">
					<img src="{{album.album_logo.url}}" class="img-responsive" style="width:180px; height: 160px; " alt=""> </a>
					<div class="caption">
						<h2>{{album.album_title}}</h2>
						<h4>{{album.artist}}</h4>
						<!-- Detail -->
						<a class="btn btn-primary btn-sm" href="{%url 'musics:detail' album.slug%}">View Details</a>
						<!-- Edit -->
						{% if request.user %}
							<a class="btn btn-primary btn-sm" href="{%url 'musics:album-update' album.slug %}">Edit</a>
							<!-- delete -->
							<form id="form-delete" action="{% url 'musics:album-delete' album.slug%}" method="post" style="display: inline;" >{%csrf_token%}
								<input type="hidden" name="slug" value="{{album.slug}}">	<button type="submit" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-trash"></span></button>
							</form>
							{% if messages %}
								{% for message in messages %}
									<p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									{{ message }}
								</p>
							{% endfor %}
						{% endif %}
						{%endif%}
						
						<!-- favorite -->
						<a href="" class="btn btn-default btn-sm btn-favorite"> <span class="glyphicon glyphicon-star">{% if album.is_favorite%}active{% endif%}</span></a>
					</div>
				</div>
			</div>
		{% endfor%}
	</div>
{% else%}
	<h3>There is no album</h3>
	{%endif%}
	{% include 'musics/pagination.html'%}
{% endblock content%}