{% extends 'base.html' %}
{% block title %}Add a New Song{% endblock %}
{% block albums_active %}active{% endblock %}
{%block content%}
<div class="panel panel-default">
			<div class="panel-body">
				<h3>All Songs</h3>
				{% if error_message %}
					<p><strong>{{ error_message }}</strong></p>
				{% endif %}
				<div>
					<ul class="list-inline">
						<li class="head1" >Title</li>
						<li class="head" >Audio File</li>
						<li class="head" >Favorite</li>
						<li class="head" >Actions</li>
					</ul>
				</div
				<div>
					{% for song in album.song_set.all %}
						<ul>
							<li class="head1" >{{ song.song_title }}</li>
							<li class="head" ><a target="_blank" href="{{ song.filte_type}}">
								<button type="button" class="btn btn-success btn-xs">
								<span class="glyphicon glyphicon-play"></span>&nbsp; Play
								</button>
							</a></li>
							<li class="head" ><a href="#{#% url 'musics:favorite' song.id %#}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a></li>
							<li class="head" ><form action="{% url 'musics:delete_song' album.id song.id %}" method="post" style="display: inline;">
								{% csrf_token %}
								<input type="hidden" name="song_id" value="{{ song.id }}" />
								<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
								</button>
							</form></li>
						</ul>
					{% endfor %}
				</div>
			</div>
			{%block content%}