{% extends '__base.html'%}
{%block head_title%} change password {{block.super}} {%endblock head_title%}
{% block content%}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">Change password</div>
			<div class="panel-body">
			{% if form.errors%}
			<p>Password change failed</p>
			{% endif%}
				<form action="{% url ' accounts:password_change'%}" method="post" role="form" class="form-horizontal">
					{%csrf_token%}
					{% include 'main/_fields.html'%}
				<center>
				<div class="form-group">
					<input class="btn btn-primary" type="submit" value="Change password">
					<p>{% form.non_fields_errors%}</p>
				</div>
				</center>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content%}
