{% extends '__base.html' %}
{% block head_title %}Logout {{block.super}}{% endblock head_title%}
{% block headline %}
{% endblock headline %}
	{% block content %}
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">				
				<div class="well">
					<center>
					<p style='color:#092E20;font-size:25px;font-weight:bold;padding-top:20px;padding-left:15px;'>
						You have been successfully logged out....
					</p>
					<p><a href="{% url 'accounts:login'%}">Login</a></p>
					<p>No account?<a href="{% url 'accounts:register'%}">Register</a></p>
					
				</div>
			</div>
		</div>
	{% endblock content%}