<footer class="nav navbar-nav" id='footer-menu'>
	<h5>
	<span> <a class="glyphicon glyphicon-home" href="{% url 'homepage:home'%}">&nbsp;Home</a> </span>
	<span><a class="glyphicon glyphicon-info" href="/pages/about">&nbsp;About</a></span>
	<span> <a href="{% url 'contact:contact'%}">&nbsp;Contact</a></span>
	<span><a href="#">&nbsp;Help</a></span>
	</h5>
	<h3><span class="pull-left"> &copy; 2016 JDU</span><a href="https://www.exportabroad.com/"></a>
	<span class="text-center"> &middot;Powered by Python3 abd Django 1.9.1 &middot;</span>&nbsp; <span  class="pull-right"><a href="/#">Top</a></span></h3>
	
</footer>