{% extends 'base.html'%}
{% load staticfiles%}
{% block head_title%}Album Detail{% endblock head_title%}
{% block content%}
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="thumbnail text-align-center">
				{% if album.album_logo %}
					<img src="{{album.album_logo.url}}" id="logo" style="width:250px; height: 180px;" alt="Album logo">
				{% else %}
					<img src="{% static 'musics/img/guitar.jpg'%}" style="width:250px; height: 180px;" alt="Album logo">
					{%endif%}
					<h1>{{album.album_title}}</h1>
					<h2>{{album.artist}} </h2>
				</div>
			</div>
			<div class="col-sm-8 col-md-9">
				<ul class="nav nav-pills" style="margin-bottom: 10px;">
					<li role="presentation" class="active"><a href="{% url 'musics:songs:song_list'%}">View All</a></li>
					<li role="presentation"><a href="{% url 'musics:songs:song_create'%}">Add New Song</a></li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>All Songs</h3>
						{% if error_message %}
							<p><strong>{{ error_message }}</strong></p>
						{% endif %}
						<div>
							<ul class="list-inline">
								<li class="head1" >Title</li>
								<li class="head" >Audio File</li>
								<li class="head" >Favorite</li>
								<li class="head" >Actions</li>
							</ul>
						</div
						<div>
					
							{% for song in album.song_set.all%}
								<ul>
									<li class="head1" >{{ song.song_title }}</li>
									<li class="head" ><a target="_blank" href="{{ song.filte_type.url }}">
										<button type="button" class="btn btn-success btn-xs">
										<span class="glyphicon glyphicon-play"></span>&nbsp; Play
										</button>
									</a></li>
									<li class="head" ><a href="#{#% url 'musics:favorite' song.id %#}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a></li>
									<li class="head" ><form action="{% url 'musics:songs:song_delete' album.id song.id %}" method="post" style="display: inline;">
										{% csrf_token %}
										<input type="hidden" name="song_id" value="{{ song.id }}" />
										<button type="submit" class="btn btn-danger btn-xs">
										<span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
										</button>
									</form></li>
								</ul>
							{% endfor %}
						
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock content%}