{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title%}Albums{% endblock head_title%}
{% block content%}
<div class="container">
	<h1 style="text-align:center;">{{ user.username|upper }}'S Albums</h1>
	<div  class="row">
		
			{% for album in albums %}{% if not forloop.last %},{% endif %} 
			<div class="col-xs-4 col-md-3">
			<div class="album_detail">
				<!-- Album logo -->
				<a href="{% url 'musics:albums:album_detail' album.slug%} ">
					{% if album.album_logo %}
					<img src="{{album.album_logo.url}}" class="img-responsive" style="width:180px; height: 160px; " alt=""> </a>
					{%else%}
					
				<img src="{% static 'musics/img/guitar.jpg'%}" class="img-responsive img-circle" style="width:180px; height: 160px; " alt=""> </a>
				{%endif%}
				<div class="caption">
					<h2>{{album.album_title}}</h2>
					<h4>{{album.artist}}</h4>
					<!-- Detail -->
					<a class="btn btn-primary btn-sm" href="{%url 'musics:albums:album_detail' album.slug%}">View Details</a>
					<!-- Edit -->
					{% if request.user %}
						<a class="btn btn-primary btn-sm" href="{%url 'musics:albums:album_edit' album.slug %}">Edit</a>
						<!-- delete -->
						<form id="form-delete" action="{% url 'musics:albums:album_delete' album.slug%}" method="post" style="display: inline;" >{%csrf_token%}
							<input type="hidden" name="slug" value="{{album.slug}}">	<button type="submit" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-trash"></span></button>
						</form>
						{% if messages %}
							{% for message in messages %}
								<p class="alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ message }}
							</p>
						{% endfor %}
					{% endif %}
					{%endif%}
					
					<!-- favorite -->
					<a href="" class="btn btn-default btn-sm btn-favorite"> <span class="glyphicon glyphicon-star">{% if album.is_favorite%}active{% endif%}</span></a>
				</div>
				</div>
				</div>
			{% endfor%}
		
	</div>
</div>
{% include 'musics/pagination.html'%}
{% endblock content%}