body{
	background-color:#d9dcdc;
	color: #123b5f;
}

.container-fluid{
	background-color:#3d6071;
	border:none;
	
}
.navbar-header .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar {
		border: none;
	}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus{
   
	color: #b3e7fd;
}
#home_jumbotron{
	background-color: #c7cacc;
}

 .panel{

	text-align: center;
	background-color:#b6bebf;
}
.panel-default>.panel-heading {
   
    background-color: #b6c2c7;
    border: none ;
}
a {
	color: #f5f5f5;
}

.btn-success,
.form-control{
	margin-top: 20px;
}
a>span
{
	color: #123b5f;
}