<form id="comm-form"
  {# POST Destination #}
  action="{%if comm.uuid%}{% url 'comm_update' comm.uuid%}{%else%}{% url 'comm_new'%}{%endif%} "
  method="post">
  {% csrf_token %}
  {% include 'accounts/_fields.html'%}
  <input id="id_account" name="account"
  type="hidden"
  value="{% if request.GET.account %}
  {{ request.GET.account }}{% else %}{{ account.id }}{% endif %}"/>
  <input id="id_owner" name="owner" type="hidden" value="{{ user.username }}"/>
  <center >
<input id="gi-form-submit" class="btn btn-primary" type="submit" value="Save">
<p> {{form.non_field_errors}} </p>
</center>
</form>