<div class="container">
<li class="co-item">
    <h5 class="co-item-h">{{ comm.subject }} </h5>
    <p class="co-item-date">on {{ comm.date }}</p>
    <p>{{ comm.notes }}</p>
    <span>
        {# Comm Edit URL #}
        <p><a class="pen comm-control comm-edit"
        href="{{comm.get_update_url}}?account={{account.id}} ">Edit communication</a></p>
        {# Comm Delete URL #}
        <p><a class="cancel comm-control"
        href="{{ comm.get_delete_url }}?account={{ account.id }}">Delete</a> </p>
    </span>
</li>
</div>