{% extends '__base.html'%}
{% block head_title%} {{block.super}} | copyright {% endblock head_title %}
{% block headline%} Copy Rights{%endblock headline%}
{% block content %}
<p>	
Copyright, is a form of intellectual property and protects original works of authorship including literary, dramatic, musical, and artistic works, such as poetry, novels, movies, songs, computer software, and architecture. Copyright does not protect facts, ideas, systems, or methods of operation, although it may protect the way these things are expressed...read more about copyright.
</p>
<p>	
Your work is covered under copyright protection the moment it is created and fixed in a tangible form that it is perceptible either directly or with the aid of a machine or device. In general, registration is voluntary. Copyright exists from the moment the work is created. In the U.S., you will have to register for a nonrefundable filing fee, if you wish to bring a lawsuit for infringement of a U.S. work.  In Europe, copyright law varies from country to country.
</p>
{% endblock content %}