{% extends "base.html"%}
{% block title%}Signup{%endblock%}
{% block content%}

<div id="content-container" class="container">
<div class="row">
<h3>Signup for a $20 Monthly Subscription</h3>
<div class="side-p"> 
	<form id="user-reg-form" action="." method='post'>
	{% csrf_token %}
	<div class="col-sm-4 col-sm-offset-3">
	<h5 class="sn-sh"> <strong>CREATE A USERNAME AND PASSWORD</strong></h5>
	
	<section class="user-info">
         	 <label for="">{{form.email.label}}:</label>{{form.email}}{{form.email.errors}}
         	<label for="">Password:</label>{{form.password1}} {{form.password1.errors}} <br>
         	<label for="">Confirm Password:</label>{{form.password2}} {{form.password2.errors}} <br>
			
			<input class="btn btn-primary" type="submit" value="Submit">
         </section>
         
         <h5 class="sn-sh"><strong>YOUR BILLING ADDRESS</strong></h5>
         	<section>
         	 <p><label for="">{{form.first_name.label}}</label>{{form.first_name}}{{form.first_name.errors}} </p>
         		
         		<p><label for="">{{form.address_one.label}}</label>{{form.address_one}} {{form.address_one.errors}}</p>
         		
         		<p><label for="">{{form.address_two.label}}</label>{{form.address_two}}{{form.address_two.errors}}</p>
         		
         		<p><label for="">{{form.city.label}}</label>{{form.city}}{{form.city.errors}}</p>
         		
         		<p><label for="">{{form.state.label}}</label>{{form.state}} {{form.state.errors}}</p>

         	</section>
         	</div>
         <div>
         </div>
	</form>

	</div>
	</div>
	
</div>
{% endblock content %}
