
<form id="contact-form" action="{% if contact.uuid %}{% url 'contact_update' contact.uuid%}{% else %}
{% url 'contact_new'%}{% endif%}" method="post">

	{% csrf_token %}
	<div class="contact-div">
		<div>
			{{form}}
		</div>
		{% if form.errors %}
			<div>
				<p>{{form.first_name.errors}}</p>
				<p>{{form.last_name.errors}}</p>
				<p>{{form.role.errors}}</p>
				<p>{{form.phone.errors}}</p>
				<p>{{form.email.errors}}</p>
			</div>
		{% endif %}
	</div>
	<input id="id_account" name="account" type="hidden" value"{% if request.GET.account %} {{request.GET.account}} {% else %} {{account.id}} {% endif %}">
	<input id="id_owner" name="owner" type="hidden" value="{{ user.username }}"/>
</form>