
<form id="contact-form" action="{% if contact.uuid %}{% url 'contact_update' contact.uuid%}{% else %}
{% url 'contact_new'%}{% endif%}" method="post">

	{% csrf_token %}
	{% include 'accounts/_fields.html'%}
	<center>
	<input id="id_account" name="account"
  type="hidden"
  value="{% if request.GET.account %}
  {{ request.GET.account }}{% else %}{{ account.id }}{% endif %}"/>
  <input id="id_owner" name="owner" type="hidden" value="{{ user.username }}"/>
	<input id="contact-submit" class="btn btn-primary m-r-none" type="submit" value="SAVE">
	</center>
</form>