<p class="ci-td-p-l"><label for="id_full_name">Full Name:</label>&nbsp;{{contact.full_name}} </p>
<p> <label for="id_email">Email:</label>&nbsp; {{contact.email}} </p>
<p> <label for="id_phone">Phone:</label>&nbsp;{{contact.phone}}</p>
<p><label for="id_role">Role:</label>&nbsp; {{contact.role}} </p>
<div class="btn-group">
	{# New Contact Link #}
	<a id="new-contact" class="btn btn-primary new-contact" href="{% url 'contact_new'%}?account={{ account.id }}">Add Contact</a>
	
	{# Edit Contact Link #}
	<a class="btn btn-primary pen edit-contact" href="{{ contact.get_update_url }}?account={{ account.id }}">Edit</a>
	{# Contact Delete Link #}

	 <a class="cancel  btn btn-danger"
    href="{{ contact.get_delete_url }}?account={{ account.id }}">Delete</a>

</div>