body {
    background: #CED4C7; 

    }/* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#0080ff, #0040ff);*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(0080ff, #0040ff); *//* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(0080ff, #0040ff); *//* For Firefox 3.6 to 15 */
    /*background: linear-gradient(0080ff, #0030ff); /* Standard syntax }*/

  
    .navbar{
        border-radius: 0;
    }
   .navbar-brand{
        font-family:'Satisfy', cursive;
        font-size: 40px;
    }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .text-align-center{
    text-align: center;
  }

.title div {
  display: table-cell;
  padding: 25px;
}
.horizontal{
  list-style: none outside none;
}
.head1{
  float: left;
  display:block;
  width:300px;
  height: 40px;
}
.head{
  float: left;
  display:block;
  width:90px;
  height: 40px;
}

.inline li {
    display: inline-block;
}

.img-circle{
  margin-top: 20px;
}