{% extends "base.html"%}
{% load staticfiles %}
{% block title%}Signup{%endblock%}
    {% block content%}
        <div id="content-container" class="container p-none">
                 <div class="row">
                    <div class="side-p">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Signup for a $20 Monthly Subscription</h3>
                            </div>
                            <div class="panel-body">
                                <form id="user-reg-form" action="/signup/" method='post'>
                                    {% csrf_token %}
                                    <div class="col-sm-6">
                                        <h5 class="sn-sh"> <strong>CREATE A USERNAME AND PASSWORD</strong></h5>
                                        
                                        <div class="user-info">
                                            <label for="">{{form.username.label}}:</label>{{form.username}}{{form.username.errors}}
                                            <label for="">{{form.email.label}}:</label>{{form.email}}{{form.email.errors}}
                                            <label for="">Password:</label>{{form.password1}} {{form.password1.errors}}
                                            <label for="">Confirm Password:</label>{{form.password2}} {{form.password2.errors}} <br>                        </div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <h5 class="sn-sh"><strong>YOUR BILLING ADDRESS</strong></h5>
                                            <div>
                                                <label for="">{{form.first_name.label}}</label>{{form.first_name}}{{form.first_name.errors}}
                                                <label for="">{{form.last_name.label}}</label>{{form.last_name}}{{form.last_name.errors}}
                                                
                                                <label for="">{{form.address_one.label}}</label>{{form.address_one}} {{form.address_one.errors}}
                                                
                                                <label for="">{{form.address_two.label}}</label>{{form.address_two}}{{form.address_two.errors}}
                                                <label for="">{{form.city.label}}</label>{{form.city}}{{form.city.errors}}
                                                
                                                <label for="">{{form.state.label}}</label>{{form.state}} {{form.state.errors}}
                                            </div>
                                        </div>
                                        
                                        {# Credit Card Section #}
                                        <h5 class="sn-sh">CREDIT CARD</h5>
                                        {%csrf_token%}
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Card Number</th>
                                                    <th>CVC</th>
                                                    <th>Exp Month</th>
                                                    <th>Exp Year</th>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" size="32" data-stripe="number"
                                                    class="col-md-10 form-control"/></td>
                                                    <td><input type="text" size="4" data-stripe="cvc"
                                                    class="col-md-2 form-control"/></td>
                                                    <td><input type="text" size="2" data-stripe="exp-month"
                                                    class="col-md-1 form-control"/></td>
                                                    <td><input type="text" size="4" data-stripe="exp-year"
                                                    class="col-md-1 form-control"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="payment-errors label label-danger"></span>
                                        <div class="">
                                            {% for err in form.non_field_errors %}
                                                <p class="label label-danger">{{ err }}</p>
                                            {% endfor %}
                                        </div>
                                        <input id="payment-submit" type="submit" value="Signup"
                                        class="btn btn-primary"/>
                                    </form>
                                    {% block footer_javascript_page %}
                                        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
                                        <script type="text/javascript" src="{%static 'js/payment.js'%}"></script>
                                    {% endblock footer_javascript_page %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock content %}