{% extends "base.html"%}
{%block content%}
<div id="content-container" class="container p-none">
	<div id="ad-container row">
		<div class="col-sm-7">
			<div id="gi-container" class="ad-container well">
				{% include 'accounts/account_item_view.html' %}
				<a href="{% url 'account_list'%}"">Back to Account list</a>
			</div>
		</div>
		
		{# List Contacts #}
		<div class="col-sm-5">
			<div class="col-sm-12">
				<div id="panel-contact" class=" panel panel-default">
					<div class="panel-heading">
						<h3 class="ad-mh m-none">Contacts</h3>
					</div>
					<div id="cd-div" class="contact contact-hover panel-body">
						<p></p>
						<p>{% for contact in contacts %}
							{% include 'contacts/contact_item_view.html' %}
						{% endfor %}</p>
					</div>
				</div>
			</div>
			{# List Communications #}
			<hr>
			<div class="col-sm-12">
				<div  id="panel-comm" class=" panel panel-default">
					<div class="panel-heading">
						<h3 class="ad-mh m-none">Communications</h3>
					</div>
					<div id="cd-div" class="panel-body">
						<p></p>
						<p>{% for comm in communications %}
							{% include 'communications/comm_item_view.html' %}
						{% endfor %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}