.mkt-vp{
	width: 300;
	height: 350;
}
.navbar-static-top{
	margin-bottom:0px !important;
	background-color:#061C27;
	border-color: #37617B;

}

body{
	background-color:#A4B4B0 ;
	color:#02091d;
}
.container>.navbar-header {
	
}

.jumbotron{
	background-color: #a2a9a7;
	text-align: center;
}

hr{
	border-color: #37617B;
}
.text-align-center{
	text-align: center;

}
a:focus, a:hover {
    color: #C6EAE3;
}
{
		color:white;
	}
.edit-account,.al-name ,#new-contact,span>a.p-r-none{
	color:#E2EFEF;
}
.edit-account:hover, .al-name:hover ,#new-contact:hover{
color:#9E999E;
}
.sgn-btm{
	color: #080abb;
}
.sgn-btm:hover
.sgn-btm:focus{
color:#AE8383;
}

#about,#contactus,#content-container{
	min-height: 400px;
}