{% extends "__base.html" %}

{% block content %}
{% if object.username == user.username %}
<h2>{{ user.username }}'s Profile <span class="pull-right"><a href="{%url 'myuser:edit_profile'%}">Edit profile</a></span></h2>
{% endif %}
<div class="container">
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
{% if user.userprofile %}
<div>
<label for="username"><b>Username: </b></label>
{{ user.username }} <br>
<label for="first_name"><b>First Name: </b></label>
{{ user.first_name }} <br>
<label for="last_name"><b>Last Name: </b></label>
{{ user.last_name}} <br>
<b>Bio:</b>
{{ user.userprofile.biography }} <br>
<b>Age:</b>

{{userprofile.age}} <br>
<b>Birthdate:</b>

{{user.userprofile.birthdate}}
</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
