{% extends 'base.html'%}
{% load staticfiles%}
{% block head_title%}Album Detail{% endblock head_title%}
{% block content%}
<div class="container">
	{% if album.album_logo %}
		<img src="{{album.album_logo.url}}" id="logo" style="width:250px; height: 180px;" alt="Album logo">
	{% else %}
		<img src="{% static 'musics/img/guitar.jpg'%}" style="width:250px; height: 180px;" alt="Album logo">
		{%endif%}
		<h1>{{album.album_title}}</h1>
		<h2>{{album.artist}} </h2>
		{%for song in album.song_set.all%}
		<a href="{% url 'musics:songs' song.slug%}">{{song.song_title}}</a>
		<br>
		{%endfor%}
	</div>
{% endblock content%}