{%extends 'base.html'%}
{% block head_title%}Songs lists{% endblock head_title%}
{% block alums_active%}active{% endblock alums_active%}
{% block content %}
<div class="col-sm-12">
<div class="panel panel-default">
	<div class="panel-body">
		<center><h3> All Songs</h3></center>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		<div>
			<ul class="list-inline">
				<li class="head1" >Title</li>
				<li class="head" >Audio File</li>
				<li class="head" >Favorite</li>
				<li class="head" >Actions</li>
			</ul>
		</div
		<div>
		{% for album  in object_list %}
			{% for song in album.song_set.all %}
				<ul>
					<li class="head1" >{{ song.song_title }}</li>
					<li class="head" ><a target="_blank" href="{{ song.filte_type.url}}">
						<button type="button" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-play"></span>&nbsp; Play
						</button>
					</a></li>
					<li class="head" ><form action="{% url 'musics:delete_song'%}" method="post" style="display: inline;">
						{% csrf_token %}
						<input type="hidden" name="song_slug" value="{{ song.slug }}" />
						<button type="submit" class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
						</button>
					</form></li>
				</ul>
			{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
</div>
{% endblock content %}