<!-- <div class='clearfix'>
	{{field.label_tag}}
	<div class='input'>
		{{field}}
	</div>
</div> -->
<fieldset>
	<div>
			<label for="name">Name:</label>
			<input type="text" id="name" placeholder="Name" /></div>
			<div><br>
			<label for="email">Email:</label>
			<input type="email" id="email" placeholder="email" /></div>
			<div><br>
			<label for="subject">Subject:</label>
			<input type="text" id="subject" placeholder="Subject" /></div>
			<div><br>
			<label for="content">Content:</label>
			<textarea id="content" placeholder="What's on your mind?"></textarea></div>
			<div>
				<button type='submit'class='btn btn-primary'>Send message</button>
			<!-- <input type="submit" value="Send message" /></div> -->
		</div>
			
</fieldset>
