{% extends '__base.html'%}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static 'css/abroad.css' %}" rel="stylesheet">
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css'%}">
{%endblock%}
{%block title%}Contact Us{%endblock%}
{%block content%}
<section class='container'>
<div class='row'>
<div class='col-sm-6'>
<form accept-charset='UTF-8' id='contact-form' action="." class='form-contact' role='form' method='POST'>
{% csrf_token%}
<h1 class='form-signin-heading'>Contact Us</h1>
<p id="message"></p>
{{form.non_fields_error}}
{{form.as_p}}
<center><button type='submit'class='btn btn-primary'>Send message</button></center>
</form>
</div class='conatiner'>
<div class='col-sm-6'>
	<div class="contact-address">
<div id="gmap" class='pull-right'></div>
<center ><b><address>
			Email:info@exportabroad.com<br>
			Phone:(772)222-7623<br>
			104 King St Suite 202,<br>
			Madison, WI 53703
		</address></b>
</center></div>
</div>
</div>
</section>
<hr class="featurette-divider">


{%endblock%}

{%block extra_js%}<script src="http://maps.googleapis.com/maps/api/js"></script>
 <script src=" {% static 'js/map.js'%}" type="text/javascript"></script>
{% endblock %}