
body{
	color: black;
	background:#4682b4;
	background: -moz-linear-gradient(top, #69abe2 0%, #a9ceef 100%); /* firefox */
	background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#69abe2), color-stop(100%,#4682b4)); /* webkit */
	font-family:Verdana,sans-serif, Arial Black, Gadget ;
	text-align: justify;
	}

.navbar{
	color: inherit;
	text-decoration: none;
	background-color:#111770;
	text-align:center;
	display: block;
	position: relative;
}
.navbar .navbar-brand{
	color: #ffffff;
	font-family: Verdana,Arial, Sans-serif;
	float: right;
	text-shadow: 0px #f2f2f2 0px #f2f2f2
	text-align:left;

}
/*change the color fo navbar-brand when we hover over it*/
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus{
	color: #1BBC9C;
	background-color: transparent;
}

/*change color links*/
.navbar #nav>li{
	text-align: left;
	text-transform: uppercase;
}
.navbar #nav li{
	width: 100px;
	position: relative;
}
.navbar #nav >li >a{
	color: #ffffff;
}
/*change color when we hover over it*/
.navbar #nav li > a:hover,
.navbar .navbar-nav  li > a:focus{
	color: #1BBC9C;
}

.navbar #nav >li ul{
	padding: 0;
	list-style-type: none;
	display:none;
	float:left;
	text-align:left;
}
/*change the acive link*/
.navbar #nav > .active > a{
	color: #ffffff;
	background-color:transparent;
}
.navbar #nav > .active > a:hover,
.navbar #nav > .active > a:focus{
	color: #1BBC9C;
}
/*he make color loks the same when you hover over it*/
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus{
	color:#ffffff;
	background-color:#1A242F;
}
.navbar #menu #nav ul li a{
	border: none;
	background: transparent;
	color: white;
	padding: 0 5px;
	margin-left: 10px
}
h1{	font-size: 24px;}
h2{ font-size: 22px;}
h3{font-size: 20px}
h4{font-size:18px }
h5{font-size:16px }
h6{font-size:14px }

h1,h2,h3,h4{
	text-align: center;
	text-transform: uppercase;
	text-align: center; margin: 0 0 35px 0; text-shadow: 0px 1px 0px #f2f2f2;


}

.jumbotron{
	/*background-color: ;*/
	padding-left: 20px;
	padding-right: 20px;
	background:#4682b4;
	/*background:url("https://exportabroad.s3.amazonaws.com/static/img/globe.png") no-repeat center;*/
	 /*-webkit-background-size:cover;
	 -moz-background-size:cover;
	 -o-background-size:cover;
	 background-size: cover;*/
}

.navbar .navbar-brand > img{
	float: left;
	width: 52px;
	height: 50px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin: 0 20px 30px 0;

}


#index{
	margin: 20px;
	width: auto;
	height:auto;
	/*background:url('https://exportabroad.s3.amazonaws.com/static/img/madison.jpg');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;*/
}
/*.navbar-default
  background-color:#2c3E50;
  background-image: none;
  background-repeat: no-repeat;
 }*/

#myCarousel{
	width: 100%;
	 height:100%;
	  margin:0 auto;
}
.carousel-caption h1 {

		color: cyan;
		position: relative;
}
.carousel-caption p  {
	color: cyan;
	position: relative;
	font-size: 20px;
}
figure >img{
	width: 100%;
	height: 100%;
}
#head > img{
	position: relative;
	 width: 100%;
	 height: 100px;
     
 }

hr {
border: none;
border-color:none; /*works in Chrome and Safari*/
background-color:none; /*works in Firefox and Opera*/
color:none; /*works in IE7+*/
}


footer{
background-color:#006699;
padding: 30px 15px 20px 15px;
color: white;
height: 100px;
width:100%;
border-radius: 10px;
text-align: center;

}
#footer-menu >li >a
{
	background-color:#006699;
	width: 100%;
	height: 20px;
	border-radius: 5px;
	color: white;
	padding-bottom: 10px;

}
#footer-menu >li >a:hover,
#footer-menu >li >a:focus{
color: darkblue;
	background-color: transparent;
}


/* body {padding-top: 10px;
padding-bottom: 10px;
background-color:lightgrey;*/

/*background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');*/
/*background-repeat: no-repeat;*/
/*https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/effects/s6.jpg*/
/*"https://exportabroad.s3.amazonaws.com/static/img/globe.png";*/
	/*}*/